body {
  border-top: 5px solid #C70;
  overflow: scroll;
}

a {
  color: #C70;
}

h1 {
  font-weight: bold;
}

.container {
  max-width: 978px;
}

.header {
  height: 100px;
  margin-top: 40px;
}

.header h1 {
  background: transparent url('../images/phpZenfolio-logo.png') no-repeat scroll 0 -18px;
  text-indent: -9999px;
  height: 60px;
  margin-top: 0;
}

.header a:hover {
  color: #C70;
}

.main-nav {
  margin-top: 10px;
}

.main-nav li {
  margin-right: 10px;
}

.main-nav a {
  text-transform: uppercase;
  font-weight: bold;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
  background-color: #C70;
}

.main_content {
  font-size: 20px;
}

.intro {
  font-size: 3.2em;
  text-align: center;
  padding-bottom: 40px;
}

.docs-nav {
  font-size: 15px;
}

.docs-nav li {
  padding-left: 5px;
  border-left: 2px solid #fff;
}
.docs-nav > li > a {
  padding: 0px;
}
.docs-nav > li >a:hover,
.docs-nav > li >a:focus {
  background-color: #fff;
}

.docs-nav > li > a.to-top {
  padding-top: 10px;
  font-size: 13px;
}

.docs-nav > li.active {
  border-left: 2px solid #ccc;
}

.docs-nav > li.active a {
  color: #2a6496;
}

#sidebar.affix-top {
  position: static;
  width: 100%;
}

#sidebar.affix {
  position: fixed;
  top:45px;
  width: 100%;
}

.affix,.affix-top {
   position:static;
}

.docs h1 {
  padding-top: 20px;
}

.post-date {
  color: #ccc;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 20px;
}
