  <div class="col-md-3">
    <div id="sidebar" data-spy="affix" data-offset-top="100" class="hidden-xs hidden-sm">
      <ul class="nav docs-nav">
        <li class="active"><a href="#requirements">Requirements</a></li>
        <li><a href="#installation">Installation</a></li>
        <li><a href="#basic-usage">Basic Usage</a></li>
        <li><a href="#more-in-depth-usage-details">More In-depth Usage Details</a></li>
        <li><a href="#instantiating-the-client">&nbsp;&nbsp; Instantiating the Client</a></li>
        <li><a href="#interacting-with-the-zenfolio-api">&nbsp;&nbsp; Interacting with the Zenfolio API</a></li>
        <li><a href="#authentication">Authentication</a></li>
        <li><a href="#uploading-amp-replacing-images">Uploading &amp; Replacing Images</a></li>
        <li><a href="#upload-a-local-file">&nbsp;&nbsp; Upload a Local File</a></li>
        <li><a href="#upload-an-image-from-a-url">&nbsp;&nbsp; Upload an Image from a URL</a></li>
        <li><a href="#replacing-images">&nbsp;&nbsp; Replacing Images</a></li>
        <li><a href="#other-notes">Other Notes</a></li>
        <li><a href="#caching-api-responses">&nbsp;&nbsp; Caching API Responses</a></li>
        <li><a href="#access-zenfolio-via-a-proxy">&nbsp;&nbsp; Access Zenfolio via a Proxy</a></li>
        <li><a href="#imags-urls-helper">&nbsp;&nbsp; Image URLs Helper</a></li>
        <li><a href="#examples">Examples</a></li>
        <li><a href="#top" class="to-top">Back to top</a></li>
      </ul>
    </div>
  </div>
